.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    margin-top: 200px;
    background: none;
    opacity: 100%;
    padding: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: rgb(6, 209, 245);
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 63px;
    height: 5px;
    background: rgb(6, 209, 245);
    border-radius: 9px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: rgb(61, 208, 241);
    border-radius: 6px;
}

.icon {
  margin: 0px 30px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: aquamarine;
    font-size: 19px;
}

.forgot-password {
    padding-left: 62px;
    margin-top: 27px;
    color: rgb(246, 242, 246);
    font-size: 18px;
}

.forgot-password span {
    color: rgb(0, 204, 255);
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-left: 35px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: rgb(140, 13, 186);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
}

.gray {
    background: #8d8181;
    color: bisque;
}

.password-criteria-container {
  background-color: #6ad6e9;
  width: 250px;
  opacity: 80%;
  border-radius: 50px;
  margin-left: 50px;
  
}
.password-criteria {
  font-size: 15px;
  margin-top: 10px;
  margin-left: 40px;
}

.password-criteria ul {
  padding-left: 20px;
}

.forgot-password span {
  color: white;
  cursor: pointer;
}

.form-message-container {
    background-color: #6ad6e9;
   margin-top: 50px;
   margin-left: 45px;
   width: 400px;
   border-radius: 50px;
   height: 30px;
   opacity: 90%;

}

.form-message {
  margin-left: 40px;
  margin-top: 5px;

}

@media (max-width: 640px) {
  .signin-form {
    padding: 1.5rem 1rem;
  }
  body {
    background-size: cover;
    background-position: center;
    height: fit-content;
  }
}